@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,500;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&display=swap');





body{
    font-family: "Inter", sans-serif;
    overflow-x: hidden !important;
    font-size: 16px;
    background-color: rgb(252 252 252);
    color: #1e223c;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: always;
    line-height: 1.5em;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

h1,h2,h3,h4,h5,h6{
    font-family: "Inter", sans-serif;
    line-height: 1.5em;
    font-weight: 600;
}






.title-heading{
    font-size: 45px !important;
    letter-spacing: 1px;
    font-family: "Inter", sans-serif;
}

.banner_hero{
    padding: 40px 0;
    min-height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #0b2e40;
    background-position: center top;
}


.inner-hero{

    min-height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #0b2e40;
    background-position: center top;

}

.inner-hero h2{
    color: #FFFFFF;
    font-size: 42px;
    text-shadow: 0 0 12px #212224;
    margin-bottom: 0;
    padding-bottom: 0;
    font-weight: 700;
}

.inner-hero p{
    color: #FFFFFF;
    font-size:18px;

}

.article-heading {
    font-weight: 400;
    word-wrap: break-word;
    font-size: 2.5rem;
    line-height: 1.1;
    margin: 0 0 0.5rem;
    color: #222;
    font-family: "Inter", sans-serif;
    text-align: left;
}


.widget-box{
    border:1px solid #d4d4d4;
    padding: 20px 30px;
    border-radius: 10px ;
    min-height: 200px;
    height: 240px;
}



.listing-single h6{
    margin-bottom: 5px;
    margin-top: 5px;
}


.company-title{
    font-size: 45px !important;
    letter-spacing: 1px;
    font-family: "Inter", sans-serif;
}
#companiesWrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 .5rem;
}
#companiesWrap .company_item {
    border-bottom: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    padding: 2rem 2.3rem;
    background-color: #fff;
    transition: box-shadow .2s linear;
    cursor: pointer;
}

#companiesWrap .company_item .company_logo {
    width: 4.3rem;
    height: 4.3rem;
    -o-object-fit: contain;
    object-fit: contain;
    display: block;
}

#companiesWrap .company_item:hover {
    border: 1px solid #fff;
    box-shadow: 0 0 4rem 0.5rem rgb(0 0 0 / 8%);
    border-radius: 2px;
    z-index: 2;
    margin: -1px 0 0 -1px;
}


footer{
    border-top: 1px solid #e7e7e7;
    background: #f6f7ff;
    color: #1e223c;
    padding: 60px 0;
    line-height: 1.5em;
    font-size: 14px;
}

footer a{
    color: #1e223c;
}

footer ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}


footer li{
    margin-bottom: 5px !important;
    list-style-type: none;
}

.copy-right{
    font-size: 10px;
}
footer h5{
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.2rem;
    text-transform: uppercase;

    margin: 0px 0px 1.2rem;
}
.footer-info{
    font-size: 12px;
}

.company--card {
    overflow: hidden;
    box-shadow: 0 2px 6px -2px rgb(0 106 194 / 20%);
    border-radius: 0.375rem;
    border: solid 1px #ebf0f6;
    background-color: #fff;
    margin-bottom: 1rem;
    width: 100%;
    cursor: pointer;
}

.company--card .company-content-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1.5rem  1.5rem 0 1.5rem;
}

.company--card .company-content {
    display: flex;

}



.company--card .company-logo{
    width: 6.25rem;
    height: 6.25rem;
    margin-right: 2rem;
}

.company--card .company-logo img{

    width: 6.25rem;
    height: 6.25rem;
    margin-right: 2rem;
}



.company--card .company-info-wrapper {
    width: 100%;
}

.company--card .company-info {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 0.5rem
}
.company--card .company-info .left {
    display: flex;
    flex: 1;
    align-items: center;
}

.company--card .company-basic-info {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.company--card .company-basic-info .infoEntity {
    font-size: .875rem;
    color: #5E6B92;
    display: flex;
    width: 50%;
    margin: 0.25rem 0;
    text-align: initial;
}

.company--card .chips-block {
    display: flex;
    margin-bottom: 0.75rem;
    flex-wrap: wrap;
}

.ab_chip {
    padding: 0.25rem 0.75rem;
    border-radius: 14px;
    background: #fff;
    border: solid 1px #E4E6EE;
    display: inline-flex;
    cursor: pointer;
    margin-right: 0.5rem;
    text-decoration: none;
    margin-bottom: 0.5rem;
    white-space: nowrap;
    user-select: none;
    word-wrap: unset;
}

.ab_chip:hover {
    background-color: #fffbf3;
}


.widget-box{
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    border: 1px solid transparent;
    letter-spacing: -.5px;
}

.widget-box ul{

}
.widget-box ul li {


    margin: 0 0 -1px;
    padding: 0;
    position: relative;
    border-top: 1px solid transparent;
    border-bottom: 1px solid rgba(0,0,0,.1);
    list-style-type: none;
}
.widget-box ul li a {
    line-height: 1.5rem;
    display: block;
    padding: 0.5rem 1.5rem 0.5rem 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.widget-box ul li a:hover{
    text-decoration: none;
    background: rgba(0,0,0,.05);
}
.widget-box ul li a:after {
    font-family: FontAwesome;
    content: "";
    width: 1rem;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: .75rem;
    color: rgba(0,0,0,.6);
}

